{
    "plugins": [
        "import",
        "jsx-a11y",
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb",
    ],
    "rules": {}
}
